@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply md:w-[150px] w-full bg-red-800 text-white px-5 py-3 rounded-md hover:bg-red-700 
             transition-all duration-300 ease-in-out 
             hover:shadow-[0_0_15px_rgba(220,38,38,0.5)] 
             active:transform active:scale-95
             text-center whitespace-nowrap;
	}
}

.netflix-menu-enter {
	opacity: 0;
	transform: translateY(-10px);
}

.netflix-menu-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 200ms, transform 200ms;
}

.netflix-menu-exit {
	opacity: 1;
	transform: translateY(0);
}

.netflix-menu-exit-active {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 200ms, transform 200ms;
}
